body {
    height: 98vh;
    background-image: url("../imagens/espaco.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
img {
    position: relative;
    top: 50px;
}
